.border-0 {
  border: 0 !important;
}
.border {
  border: 1px solid $border !important;
}

.border-block-start{
  border-block-start: 1px solid $border !important;
}

.border-end {
 border-inline-end: 1px solid $border !important;
}

.border-block-end {
  border-block-end: 1px solid $border !important;
}

.border-start {
 border-inline-start: 1px solid $border !important;
}
.border-block-start-0 {border-block-start: 0 !important;
}

.border-end-0 {
  border-inline-end: 0 !important;
}

.border-block-end-0 {
  border-block-end: 0 !important;
}

.border-start-0 {
  border-inline-start: 0 !important;
}

.border-primary {
  border-color: $primary !important;
}

.border-secondary {
  border-color: $secondary !important;
}

.border-success {
  border-color: $success !important;
}

.border-info {
  border-color: $info !important;
}

.border-warning {
  border-color: $warning !important;
}

.border-danger {
  border-color: $danger !important;
}

.border-light {
  border-color: $gray-100 !important;
}

.border-dark {
  border-color: $gray-800 !important;
}

.border-white {
  border-color: $white !important;
}

.rounded-sm {
  border-radius: 0.2rem !important;
}

.rounded {
  border-radius: 5px !important;
}

.rounded-top {
  border-start-start-radius: 5px !important;
  border-start-end-radius: 5px !important;
}

.rounded-end {
  border-start-end-radius: 5px !important;
  border-end-end-radius: 5px !important;
}

.rounded-bottom {
  border-end-end-radius: 5px !important;
  border-end-start-radius: 5px !important;
}

.rounded-start {
  border-start-start-radius: 5px !important;
  border-end-start-radius: 5px !important;
}
.br-tl-0 {
  border-start-start-radius: 0 !important;
}
.br-bl-0 {
  border-end-start-radius: 0 !important;
}
.br-tr-0 {
  border-start-end-radius: 0 !important;
}
.br-br-0 {
  border-end-end-radius: 0 !important;
}

.br-0 {
  border-radius: 0 !important; 
}

.rounded-lg {
  border-radius: 0.3rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

/* ###### 9.2 Border   ###### */

.bd-transparent {
  border-color: transparent;
}

.bd {
  border: 1px solid $border;
}

.bd-t {
  border-block-start: 1px solid  $border;
}

.bd-e {
 border-inline-end: 1px solid $border;
}
.bd-s {
 border-inline-start: 1px solid $border;
}

.bd-b {
  border-block-end: 1px solid $border;
}

.bd-l {
 border-inline-start: 1px solid $border;
}

.bd-y {
  border-block-start: 1px solid $border;
  border-block-end: 1px solid $border;
}

.bd-x {
 border-inline-start: 1px solid $border;
 border-inline-end: 1px solid $border;
}

.bd-0 {
  border-width: 0;
}

.bd-1 {
  border-width: 1px;
}

.bd-2 {
  border-width: 2px;
}

.bd-3 {
  border-width: 3px;
}

.bd-4 {
  border-width: 4px;
}

.bd-5 {
  border-width: 5px;
}

.bd-t-0 {
  border-block-start: 0!important;
}

.bd-e-0 {
 border-inline-end: 0;
}

.bd-b-0 {
  border-block-end: 0 !important;
}

.bd-s-0 {
 border-inline-start: 0;
}

.bd-y-0 {
  border-block-start-width: 0;
  border-block-end-width: 0;
}

.bd-y-1 {
  border-block-start-width: 1px;
  border-block-end-width: 1px;
}

.bd-x-0 {
 border-inline-start-width: 0;
 border-inline-end-width: 0;
}

.bd-x-1 {
 border-inline-start-width: 1px;
 border-inline-end-width: 1px;
}

.bd-primary {
  border-color: $primary !important;
}

.bd-success {
  border-color: $success !important;
}

.bd-warning {
  border-color: $warning !important;
}

.bd-danger {
  border-color: $danger !important;
}

.bd-info {
  border-color: $info !important;
}
.bd-secondary{
  border-color: $secondary !important;
}

.bd-teal{
  border-color: $teal !important;
}

.bd-white {
  border-color: $white !important;
}

.bd-gray-100 {
  border-color: $gray-100;
}

.bd-gray-200 {
  border-color: $gray-200;
}

.bd-gray-300 {
  border-color: $gray-300;
}

.bd-gray-400 {
  border-color:$gray-400;
}

.bd-gray-500 {
  border-color: $gray-500;
}

.bd-gray-600 {
  border-color: $gray-600;
}

.bd-gray-700 {
  border-color: $gray-700;
}

.bd-gray-800 {
  border-color: $gray-800;
}

.bd-gray-900 {
  border-color: $gray-900;
}

.bd-white-1 {
  border-color: $white-1;
}

.bd-white-2 {
  border-color: $white-2;
}

.bd-white-3 {
  border-color: $white-3;
}

.bd-white-4 {
  border-color: $white-4;
}

.bd-white-5 {
  border-color: $white-5;
}

.bd-white-6 {
  border-color: $white-6;
}

.bd-white-7 {
  border-color: $white-7;
}

.bd-white-8 {
  border-color: $white-8;
}
radius-1{
 border-radius: 1px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-40 {
  border-radius: 40px;
}

.radius-50 {
  border-radius: 50px !important;
}

.bd-dashed {
  border-style: dashed;
}

.bd-dotted {
  border-style: dotted;
}

@media (min-width: 480px) {
  .bd-xs {
    border: 1px solid $border;
  }

  .bd-xs-t {
    border-block-start: 1px solid $border;
  }

  .bd-xs-e {
   border-inline-end: 1px solid $border;
  }

  .bd-xs-b {
    border-block-end: 1px solid $border;
  }

  .bd-xs-s {
   border-inline-start: 1px solid $border;
  }

  .bd-xs-y {
    border-block-start: 1px solid $border;
    border-block-end: 1px solid $border;
  }

  .bd-xs-x {
   border-inline-start: 1px solid $border;
   border-inline-end: 1px solid $border;
  }
}

@media (min-width: 576px) {
  .bd-sm {
    border: 1px solid $border;
  }

  .bd-sm-t {
    border-block-start: 1px solid $border;
  }

  .bd-sm-e {
   border-inline-end: 1px solid $border;
  }

  .bd-sm-e-0 {
   border-inline-end: 0 !important;
  }

  .bd-sm-b {
    border-block-end: 1px solid $border;
  }

  .bd-sm-s {
   border-inline-start: 1px solid $border;
  }

  .bd-sm-s-0 {
   border-inline-start: 0 !important;
  }

  .bd-sm-y {
    border-block-start: 1px solid $border;
    border-block-end: 1px solid $border;
  }

  .bd-sm-x {
   border-inline-start: 1px solid $border;
   border-inline-end: 1px solid $border;
  }
}

@media (min-width: 768px) {
  .bd-md {
    border: 1px solid $border;
  }

  .bd-md-t {
    border-block-start: 1px solid $border;
  }

  .bd-md-e {
   border-inline-end: 1px solid $border;
  }

  .bd-md-b {
    border-block-end: 1px solid $border;
  }

  .bd-md-s {
   border-inline-start: 1px solid $border;
  }

  .bd-md-y {
    border-block-start: 1px solid $border;
    border-block-end: 1px solid $border;
  }

  .bd-md-x {
   border-inline-start: 1px solid $border;
   border-inline-end: 1px solid $border;
  }
}

@media (min-width: 992px) {
  .bd-lg {
    border: 1px solid $border;
  }

  .bd-lg-t {
    border-block-start: 1px solid $border;
  }

  .bd-lg-enf {
   border-inline-end: 1px solid $border;
  }

  .bd-lg-b {
    border-block-end: 1px solid $border;
  }

  .bd-lg-s {
   border-inline-start: 1px solid $border;
  }

  .bd-lg-y {
    border-block-start: 1px solid $border;
    border-block-end: 1px solid $border;
  }

  .bd-lg-x {
   border-inline-start: 1px solid $border;
   border-inline-end: 1px solid $border;
  }
}

@media (min-width: 1200px) {
  .bd-xl {
    border: 1px solid $border;
  }

  .bd-xl-t {
    border-block-start: 1px solid $border;
  }

  .bd-xl-e {
   border-inline-end: 1px solid $border;
  }

  .bd-xl-b {
    border-block-end: 1px solid $border;
  }

  .bd-xl-s {
   border-inline-start: 1px solid $border;
  }

  .bd-xl-y {
    border-block-start: 1px solid $border;
    border-block-end: 1px solid $border;
  }

  .bd-xl-x {
   border-inline-start: 1px solid $border;
   border-inline-end: 1px solid $border;
  }
}

.br-ts-0 {
  border-start-start-radius: 0 !important;
}

.br-bs-0 {
  border-end-start-radius: 0 !important;
}

.br-te-0 {
  border-start-end-radius: 0 !important;
}

.br-be-0 {
  border-end-end-radius: 0 !important;
}

.br-ts-5 {
  border-start-start-radius: 5px !important;
}
.br-te-5 {
  border-start-end-radius: 5px !important;
}

.br-be-5 {
  border-end-end-radius: 5px !important;
}
.br-bs-5 {
    border-end-start-radius: 5px !important;
}

.border-start-primary {
 border-inline-start-color: $primary !important;
}

.border-start-success {
 border-inline-start-color: $success !important;
}

.border-start-warning {
 border-inline-start-color: $warning !important;
}

.border-primary-light {
  border: 1px solid #d4d4f7;
}

.border-pink-light {
  border: 1px solid #f3a7cc;
}

.border-secondary-light {
  border: 1px solid #f1cbd3;
}
.br-5{
  border-radius: 5px !important;
}
@media (max-width: 480px) {
  .bd-xs-e-0 {
   border-inline-end: 0 !important;
  }
  .bd-xs-s-0 {
   border-inline-start:0 !important;
  }
}
@media (max-width: 991px) {
  .bd-md-e-0 {
   border-inline-end: 0 !important;
  }
}
@media (max-width: 1024px) {
  .bd-lg-e-0 {
   border-inline-end: 0 !important;
  }
}
@media (max-width: 1366px) {
  .bd-xl-e-0 {
   border-inline-end: 0 !important;
  }
}
