/* ###### globalCarousel  ###### */
.Staticcarousel,
.Withcontrols {
  .carousel-indicators {
    display: none;
  }
}
//
.carousel-slider {
  .swiper-wrapper {
    display: block !important;
  }
}
//
.product-carousel {
  .swiper-wrapper {
    display: flex !important;
    inset-block-start: 30px !important;
  }
}
//
.carousel-slider #thumbcarousel .carousel-item .thumb {
  max-width: 85px;
}
.carousel-control-prev,
.carousel-control-next {
  inset-block-start: 50%;
}
.Withcontrols .carousel-control-prev-icon,
.Withcontrols .carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50%/100% 100%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}
.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
#myCarousel .carousel-indicators {
  display: none !important;
}
#myCarousel0 .carousel-indicators {
  display: none !important;
}
#myCarousel1 .carousel-indicators {
  display: none !important;
}


//////slick/////
.slick-prev:before,
.slick-next:before {
  color: $primary !important;
  font-size: 35px !important;
}
.slick-next {
  inset-inline-end: -5px;
}
.slick-prev {
  inset-inline-end: -10px !important;
  z-index: 9;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: $primary !important;
}
/* ###### globalCarousel  ###### */