/* ###### globalDarktheme  ###### */
.dark-theme {
  .card {
    color: #fff !important;
  }

  .table td {
    color: #fff !important;
  }

  .table th {
    color: #fff !important;
  }

  .apexcharts-gridline {
    stroke: rgba(255, 255, 255, 0.05);
  }

  .optiondots .btn {
    color: $white !important;
    border: 1px solid $dark-border !important;
  }

  //
  .filepond--drop-label {
    background-color: $dark-theme;
    border: 1px solid $dark-border;
    border-radius: 4px;
  }

  .filepond--root .filepond--drop-label {
    background-color: $dark-color;
  }

  .filepond--root .filepond--drop-label {
    background-color: $dark-body;
    color: rgba(255, 255, 255, 0.7);
  }

  .filepond--drop-label {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .filepond--root :not(text) {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .uploader__modal {
    background-color: $dark-theme;
  }

  .uploader__widget-base__modal-bg {
    color: $dark-border;
    border: 0px solid $dark-border;
  }

  .main-header-center.form-group .form-control:focus {
    border-color: rgba(255, 255, 255, 0.2) !important;
  }

  //

  .fileexport .rdt_TableHeader {
    background-color: $dark-theme;
  }

  .deleterow .rdt_TableHeader {
    background-color: $dark-theme;
  }

  //
  .breadcrumb-item+.breadcrumb-item::before {
    float: none;
    padding-inline-end: 0.5rem;
    color: #d6dfe7;
  }

  //

  .rmsc .dropdown-container {
    background: $dark-theme;
    // border: 1px solid $border-dark !important;
  }

  .rmsc {
    --rmsc-main: #000;
    --rmsc-selected: #38cab3;
    --rmsc-hover: #38cab3;
    --rmsc-bg: #2a2e3f;
    --rmsc-gray: #fff;
  }

  //

  //This code is to change the category option color.
  .selectproduct__single-value {
    color: #fff;
  }

  //This code is to change the background color option of the value container.
  .selectproduct__option:hover {
    background: $primary !important;
    color: $white;
  }

  .selectproduct__option--is-selected,
  .selectproduct__option--is-focused {
    background: $primary !important;
    color: $white !important;
  }

  //

  &.app.sidebar-mini.sidenav-toggled {
    .app-sidebar {
      .main-sidebar-header .header-logo .mobile-dark {
        display: block;
      }
    }
  }

  .PhoneInputInput {
    background: $dark-theme;
    border-color: $dark-border !important;
  }

  .PhoneInputCountry {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid $dark-border !important;
    border-inline-end: 0px solid $dark-border !important;
  }

  .rmsc .dropdown-container {
    border: 1px solid $dark-border !important;
  }

  .rmsc .gray {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .multiple-selects {
    .background__control {
      background-color: $dark-theme;
    }
  }

  .background__indicator {
    svg {
      color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  .selectform__control,
  .background__control {
    border: 1px solid $dark-border !important;
  }

  .apexcharts-gridline {
    stroke: rgba(255, 255, 255, 0.05);
  }

  .MuiSlider-markLabel,
  .dark-theme .MuiSlider-valueLabelLabel {
    color: $dark-color !important;
  }

  .form-control {
    border: 1px solid $dark-border !important;
  }

  .sun-editor .se-toolbar {
    background-color: $dark-theme;
    outline: 1px solid $dark-border !important;
  }

  .sun-editor {
    border: 1px solid $dark-border;
  }

  .sun-editor button {
    color: $dark-color;

    &:hover {
      background-color: $dark-body !important;
    }
  }

  .sun-editor .se-btn-list.default_value {
    background-color: $dark-theme !important;
    border-top-color: $dark-border;
    border-bottom-color: $dark-border;
  }

  .ql-container.ql-snow,
  .ql-toolbar.ql-snow,
  .sun-editor .se-selector-table {
    border: 1px solid $dark-border !important;
  }

  .sun-editor .se-list-layer,
  .sun-editor .se-btn:enabled.on,
  .sun-editor .se-selector-table {
    background-color: $dark-body;
  }

  .sun-editor .se-btn-list:focus,
  .sun-editor .se-btn-list:hover {
    background-color: $dark-theme;
  }

  .sun-editor .se-list-layer,
  .sun-editor .se-btn:enabled.on,
  .sun-editor-editable table td,
  .sun-editor-editable table th,
  .react-datepicker {
    border-color: $dark-body;
  }

  .sun-editor-editable {
    background-color: $dark-theme;
  }

  .sun-editor-editable * {
    color: $dark-color;
  }

  .sun-editor .se-resizing-bar .se-navigation {
    background-color: $dark-theme;
  }

  .eYBYhS.rdt_TableRow {
    background-color: $dark-body;
    color: $dark-color;
    border-color: $dark-border;
  }

  .cKJRyB.rdt_TableHeadRow {
    background-color: $dark-body;
    border-color: $dark-border;
    color: $dark-color;
  }

  .rdt_Pagination {
    background-color: $dark-body;
    color: $dark-color;
  }

  .datatable .rdt_TableBody .rdt_TableRow>div {
    border-inline-end: 1px solid $dark-border;
  }

  .datatable .rdt_Table {
    border: 1px solid $dark-border !important;
  }

  .export-table .rdt_TableHead {
    border: 1px solid $dark-border !important;
  }

  .datatable .rdt_TableHead .rdt_TableHeadRow>div {
    border-inline-end: 1px solid $dark-border;
  }

  .borderrigth {
    border-inline-end: 1px solid $dark-border;
  }

  .border.border-primary {
    border-color: var(--primary-bg-color) !important;
  }

  .ql-snow.ql-toolbar .ql-picker-label.ql-active {
    background-color: $dark-body;
  }

  .sun-editor .se-controller-link,
  .sun-editor .se-controller-table,
  .sun-editor .se-controller-table-cell {
    background-color: $dark-body;
  }

  .sun-editor .se-arrow.se-arrow-up:after {
    border-bottom-color: $dark-border;
  }

  .sun-editor,
  .se-btn-module-border,
  .se-resizing-bar {
    border-color: $dark-border !important;
    background-color: $dark-body;
  }

  .sun-editor .se-toolbar {
    outline: 1px solid $dark-border;
  }

  .sun-editor .se-svg,
  .sun-editor button>svg {
    fill: $dark-color;
  }

  .Select2__menu {
    z-index: 9;
  }

  .Select2__menu {
    background-color: $dark-theme;
    border: 1px solid $dark-border;
  }

  .Select2__option--is-selected,
  .Select2__option--is-focused {
    background: $dark-theme !important;
    color: var(--dark-color) !important;
  }

  .Select2__option:hover {
    background: $primary-dark !important;
  }

  .Select2__control {
    background-color: $dark-body;
    color: $dark-color;
    // border-color: $dark-border;
  }

  .Select2__input-container {
    color: $dark-color;
  }

  .e-table select {
    background-color: $dark-theme;
    border-color: $dark-border;
    color: $dark-color;
  }

  //

  .pricing-tabs .nav-price .nav-item a {
    background: $dark-theme;

    &.active {
      background-color: $primary;
      color: #fff;
    }
  }

  .Basicwizard {
    border-block-start: 1px solid $dark-border;
    border-block-end: 1px solid $dark-border;
  }

  .basicsteps {
    .btn {
      &.active {
        .number {
          background-color: $primary !important;
        }

        i {
          color: $primary !important;
        }
      }

      .number {
        background-color: rgba(255, 255, 255, 0.1) !important;
      }

      i {
        color: rgba(255, 255, 255, 0.5) !important;
      }
    }
  }

  .horwizard {
    &.active {
      .number {
        background-color: $primary !important;
      }

      i {
        color: $primary !important;
      }
    }

    .number {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }

    i {
      color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  .bordera {
    border-inline-end: 1px solid rgba(255, 255, 255, 0.1);
  }

  // .filepond--drop-label {
  //   background-color: rgba(255, 255, 255, 0.1);
  // }
  .pricing-tabs .nav-price {
    border: 1px solid $dark-border;
  }

  .main-mail-item:hover {
    background-color: rgba(255, 255, 255, 0.02) !important;
  }

  .card.customs-cards {
    border-block-end: 1px solid $dark-border !important;
  }

  .wizard-wrapper {
    border: 1px solid $dark-border;
  }

  .checkout-btns {
    .previous {
      border: 1px solid $dark-border;
      color: #fff;
    }
  }

  &.error-page1 {
    .form-control:focus {
      border-color: rgba(255, 255, 255, 0.3) !important;
    }
  }

  // .filepond--root :not(text) {
  //   background-color: rgba(255, 255, 255, 0.1);
  // }
  .sun-editor .se-dialog .se-dialog-inner .se-dialog-content {
    background-color: $dark-theme;
    color: $dark-color;
    border: 1px solid rgba(255, 255, 255, 0.02);

    .se-dialog-tabs {
      border-bottom: 1px solid $dark-border;
    }

    .se-btn-primary {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .sun-editor .se-dialog .se-dialog-inner .se-dialog-header {
    border-bottom: 1px solid $dark-border;
  }

  .sun-editor .se-dialog-tabs button {
    border-right: 1px solid $dark-border;
    background-color: $dark-theme;

    &.active {
      background-color: $dark-body;
    }
  }

  .sun-editor .se-dialog {

    button,
    input,
    label {
      color: $dark-color;
    }
  }

  .sun-editor .se-dialog .se-dialog-inner .se-dialog-footer {
    border-top: 1px solid $dark-border;
  }

  .sun-editor {

    input,
    select,
    textarea {
      color: $dark-color;
      border: 1px solid $dark-border;
      background-color: $dark-body;
    }
  }

  select option {
    color: rgba(255, 255, 255, 0.7);
  }

  .uselistdata {
    div[role="heading"] {
      color: #fff;
      background-color: $dark-theme;
    }

    .rdt_Table {
      background-color: $dark-theme;
      color: #fff;
      border: 1px solid $dark-border !important;
    }

    .rdt_TableHeadRow {
      background-color: $dark-theme;
      color: $dark-color;
      border-bottom-color: rgba(255, 255, 255, 0.1);
    }

    .rdt_TableRow {
      color: #fff;
      background-color: $dark-theme;
    }

    .rdt_Pagination {
      color: $dark-color;
      background-color: $dark-theme;
      border-top-color: 0;

      .sc-ezbkUp.isYBvc {
        .SsbyN {
          color: rgba(255, 255, 255, 0.54);
          fill: rgba(255, 255, 255, 0.54);

          &:disabled {
            color: rgba(255, 255, 255, 0.18);
            fill: rgba(255, 255, 255, 0.18);
          }
        }
      }
    }

    .rdt_TableHead .rdt_TableHeadRow>div {
      border-inline-end: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    .rdt_TableBody .rdt_TableRow>div {
      border-inline-end: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

    .rdt_TableRow:not(:last-of-type) {
      border-bottom-color: rgba(255, 255, 255, 0.1) !important;
    }
  }

  .css-1c99szj-MuiRating-icon {
    color: rgba(255, 255, 255, 0.1);
  }

  .MuiPaper-root {
    background-color: $dark-theme;
    color: #fff;

    .MuiTypography-root {
      color: #fff;
    }
  }

  .modal-header .btn-close {
    font-size: 15px;
  }

  .accordion-item {
    color: $dark-color !important;
    background-color: $dark-theme;
  }

  .accordiondclose .accor .accordion-header button.collapsed {
    border: 1px solid $dark-border;
  }

  .Accordion-Style02 #headingThree3 button {
    border-block-end: 1px solid $dark-border;
  }

  .accordiondclose .accordion-header button {
    border: 1px solid $dark-border;

    &.collapsed {
      color: $dark-color !important;
      background-color: $dark-theme !important;
    }
  }

  .accordiondclose .panel-heading1 .accordion-header button.collapsed {
    border: 1px solid $dark-border;
  }

  .accordion-button:not(.collapsed) {
    color: #ffffff !important;
  }

  .borders {
    border-block-end: 1px solid $dark-border;
    border-block-start: 0px solid $dark-border;
    border-inline-start: 1px solid $dark-border;
    border-inline-end: 1px solid $dark-border;
  }

  .nav-tabs .nav-link {
    background-color: rgba(255, 255, 255, 0.02) !important;
  }

  .Select2__control {
    border-color: rgba(255, 255, 255, 0.1) !important;
  }

  .rti--container {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
  }

  .list-group-item-primary {
    background-color: $primary-02 !important;
  }

  .list-group-item-secondary {
    background-color: rgba(247, 79, 117, 0.13) !important;
  }

  .list-group-item-success {
    background-color: rgba(26, 156, 134, 0.13) !important;
  }

  .list-group-item-info {
    background-color: rgba(25, 192, 192, 0.13) !important;
  }

  .list-group-item-warning {
    background-color: rgba(255, 189, 90, 0.13) !important;
  }

  .bg-light {
    background-color: rgba(255, 255, 255, 0.02) !important;
  }

  a {
    color: #faf9fa;
  }

  .bg-info.card {
    background-color: $info !important;
  }

  .bg-warning.card {
    background-color: $warning !important;
  }

  .apexcharts-gridline {
    stroke: rgba(255, 255, 255, 0.05);
  }

  .apexcharts-menu.apexcharts-menu-open {
    .apexcharts-menu-item:hover {
      background-color: rgba(255, 255, 255, 0.02) !important;
    }
  }

  .apexcharts-tooltip.apexcharts-theme-light {
    border: 1px solid $dark-border !important;
    background: $dark-theme !important;

    .apexcharts-tooltip-title {
      background: $dark-theme !important;
      border-bottom: 1px solid $dark-border !important;
    }
  }

  .list-group-item-action {
    &:hover {
      background-color: rgba(255, 255, 255, 0.02) !important;
    }
  }

  .selectpage {
    background-color: $dark-body;
    color: $dark-color;
  }

  .tablebutton {
    border: 1px solid $dark-border !important;
    background-color: $dark-body !important;
  }

  .example1-table .btn,
  .sp-container button {
    color: $dark-color;
  }

  .Select2__single-value {
    color: var(--dark-color);
  }

  .Select2__multi-value {
    background-color: #4f576f !important;
  }

  .Select2__multi-value,
  .filepond--root .filepond--drop-label {
    background-color: $dark-body;
    color: rgba(255, 255, 255, 0.7);
  }

  .Select2__multi-value__label {
    color: rgba(255, 255, 255, 0.7);
  }

  .main-mail-subject span {
    color: rgba(255, 255, 255, 0.6);
  }

  .border-bottom {
    border-bottom: 1px solid rgba(234, 236, 241, 0.1) !important;
  }

  .border-0 {
    border: 0 !important;
  }

  .form-check-input {
    background-color: $black-05;
    border: 1px solid $dark-border;
  }

  .tabs-style-4 .nav .nav-item a {
    background-color: $dark-body;
    border: 1px solid $white-1;
    color: $white-6;
  }

  .PhoneInputInput {
    color: #ffff;
  }

  .latest-tasks .nav-link.active {
    background-color: transparent !important;
    color: var(--primary-bg-color) !important;
  }

  .latest-tasks .nav-tabs .nav-link {
    color: #fff;
  }

  .latest-tasks .nav-link.active,
  .latest-tasks .nav-link:hover,
  .latest-tasks .nav-link:focus {
    background: transparent !important;
    color: var(--primary-bg-color !important);
  }

  .latest-tasks .nav-tabs .nav-link {
    background: transparent !important;

    &:hover,
    :focus {
      color: var(--primary-bg-color) !important;
    }
  }

  .accordion-button {
    background: #2a2e3f !important;
    color: #eaecf3 !important;
  }

  .accordion-button::after {
    filter: contrast(0.5);
    background-size: 1rem !important;
  }

  #accordion11 .panel-body {
    border-block-start-color: rgba(255, 255, 255, 0.2) !important;
  }

  .demo-static-toast {
    .toast {
      background-color: transparent;

      .toast-header {
        background-color: transparent;
      }
    }
  }

  .pagination-dark .page-item.active .page-link {
    background-color: var(--primary-bg-color) !important;
    color: #fff;
    border: 1px solid var(--primary-bg-color);
  }

  .main-chat-list .media.selected {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .main-chat-list .media:hover,
  .main-chat-list .media:focus {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .card.customs-cards {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .productdesc {

    .nav-tabs .nav-link.active,
    .dark-theme .nav-tabs .nav-link:hover,
    .dark-theme .nav-tabs .nav-link:focus {
      background-color: transparent !important;
      color: var(--primary-bg-color) !important;
      border-color: var(--primary-bg-color) !important;
    }

    .nav-tabs {
      border-block-end-width: 0px;
    }

    .nav-tabs .nav-link {
      border-block-start-width: 0px !important;
      border-inline-start-width: 0px !important;
      border-inline-end-width: 0px !important;
      border-block-end-width: 2px !important;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
      background-color: transparent !important;
      color: var(--primary-bg-color) !important;
      border-color: var(--primary-bg-color) !important;
    }
  }

  .main-signup-header .nav-tabs .nav-item:first-child {
    margin-inline-end: 0.5rem;
    border-block-start-width: 0px !important;
    border-inline-start-width: 0px !important;
    border-inline-end-width: 0px !important;
  }

  .error-page1 .tabs-menu1 ul li .nav-link.active {
    border-block-start: 0px;
    border-inline-end-width: 0px;
    border-inline-start-width: 0px;
  }

  .tablebutton {
    border: 1px solid #404353 !important;
    background-color: #373d50 !important;
    color: #ffff;
  }

  select.table-border {
    background-color: transparent;
    padding: 6px 8px;
    border-radius: 5px;
    color: #ffff;
    border-color: rgba(255, 255, 255, 0.2);
  }

  .Select2__single-value {
    color: #fff !important;
  }

  .react-datepicker {
    background-color: #2a2e3f;
    border-color: rgba(255, 255, 255, 0.2);

    .react-datepicker__day {
      color: #fff !important;
    }
  }

  .react-datepicker__month-text {
    color: #fff !important;
  }

  .react-datepicker__year-text {
    color: #fff !important;
  }

  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before,
  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::after {
    border-bottom-color: #fff !important;
  }

  .form-control.is-valid,
  .was-validated .form-control:valid {
    border-color: #3fc989 !important;
  }

  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    border-color: #f06e7a !important;
  }

  .file_input.text-center.form-control {
    background-color: #383d52 !important;
  }
}

/* ###### globalDarktheme  ###### */