////////* ###### globalForms  ###### */
.color-header,
.gradient-header {
  .main-header-center {
    .form-control {
      border: 1px solid $transparent-border !important;
    }
  }
  .header-icon-svgs {
    color: #7b8191;
  }
}
.dark-header {
  .main-header-center {
    .form-control {
      border: 1px solid #3c3c4c !important;
    }
  }
}
//

.form-control {
  padding: 0.375rem 0.75rem;
  border: 1px solid $border !important;
}

.form-control:focus {
  border-color: var(--primary-bg-color) !important;
}
//
.was-validated .is-loading > .form-control:valid,
.is-loading > .form-control.is-invalid {
  padding-inline-end: calc(1.5em + 0.75rem + 25px);
}
//
.input-group .form-control.is-invalid {
  z-index: 1;
}
//
.light-theme .main-form-group .form-control {
  padding: 0 15px;
}
.input-group .form-control.is-invalid {
  z-index: 0 !important;
}

//////datepicker////

//
.react-datepicker-wrapper {
  width: 78% !important;
}
.react-datepicker__header {
  background-color: $primary;
  color: $white;
}
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: $white;
}
.react-datepicker__day--selected {
  background-color: $primary;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: $primary !important;
}
.react-datepicker__year-text--selected,
.react-datepicker__month-text--keyboard-selected {
  background-color: $primary !important;
}
// .formnotification {
//   .form-select {
//     width: 15%;
//   }
// }
.formnotification {
  .form-select {
    width: 100% !important;

    white-space: normal !important;
  }
}

/* ###### globalForms  ###### */