/* ###### 3.13 globalTable ###### */
.tablebutton {
  padding: 0.5rem 0.75rem;
  background-color: #f9f9fb;
  border: 1px solid $border;
}
.data-table-extensions-action {
  display: none !important;
}
.datatable {
  .rdt_Table {
    border: 1px solid $border !important;
  }
}
//
.datatable {
  .rdt_TableHead {
    .rdt_TableHeadRow > div {
      border-inline-end: 1px solid $border;
    }
  }
  .rdt_TableBody {
    .rdt_TableRow > div {
      border-inline-end: 1px solid $border;
    }
  }
}

//
.uselistdata {
  .rdt_TableBody {
    .rdt_TableRow > div {
      padding: 6px !important;
    }
    .rdt_TableRow > div:nth-child(2) {
      max-width: 5% !important;
    }
    .rdt_TableRow > div:nth-child(3) {
      min-width: 105px !important;
    }
  }
  .rdt_TableHead {
    .rdt_TableHeadRow > div:nth-child(2) {
      max-width: 5% !important;
    }
  }
  .sc-llJcti {
    inset-block-start: 25px;
  }
}
//
.data-table-extensions > .data-table-extensions-filter {
  float: right;
}
.data-table-extensions > .data-table-extensions-filter {
  > .filter-text {
    border: 1px solid $border;
    border-block-end: 1px solid $border;
    outline: none !important;
    padding: 0.375rem 0.75rem !important;
    margin-inline-start: -11px !important;
    background-color: transparent !important;
    border-radius: 7px;
  }
  > .icon {
    display: none !important;
  }
}

//
.export-table {
  .rdt_TableHead {
    border: 1px solid $border !important;
  }
}
//
.tablebutton {
  border: 1px solid $border !important;
  background-color: $background !important;
}
//
.stickyheader {
  .datatable .rdt_TableHead .rdt_TableHeadRow > div {
    border-inline-end: none;
  }
  .rdt_TableHeadRow {
    border-block-end-width: 0px;
    border-block-end-color: transparent;
    border-block-end-style: none;
  }
}
//


/* ###### 3.13 globalTable ###### */