
///* ###### globalWidth ###### */
.w-250 {
  margin-inline: auto!important;
  width: 250px!important;
}
.w-275 {
  margin-inline: auto!important;
  width: 275px!important;
}
//
.wd25p {
  padding-inline-end: 100px;
  padding-inline-start: 0;
}
///* ###### globalWidth ###### */