/* ###### 7.3 Chat  ###### */

@media (max-width: 991.98px) {
  .main-content-body-show {
    .main-header-menu-icon {
      display: none;
    }

    .main-header-left .main-header-arrow {
      display: block;
    }

    .main-content-left-chat {
      display: none;
    }

    .main-content-body-chat {
      display: flex;
    }
  }
}

.main-nav-line-chat {
  border-block-end: 1px solid $border;
  padding-block-end: 15px;
  padding-block-start: 15px;
  flex-shrink: 0;
  flex-direction: row;
  padding-inline-start: 20px;
  padding-inline-end: 20px;

  .nav-link {
    font-size: 12px;
    font-weight: 500;
    color: $gray-800;
    text-transform: uppercase;
    padding: 8px 20px;
    border:1px solid #ededf5;
    border-radius: 5px;
    margin-block-end: 5px;

    &:hover, &:focus, &:active {
      outline: none;
    }

    + .nav-link {
      margin-block-start: 0;
      margin-inline-start: 5px;
    }

    &.active {
		color: $white;
		background: $primary;
		
    
    }
  }
}

@media (min-width: 992px) {
  .main-nav-line-chat {
    padding-inline-start: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
    border-radius: 5px;
    border-block-end: 1px solid $border;
  }
}

.main-chat-contacts-wrapper .main-img-user::after, .main-chat-list .main-img-user::after, .main-chat-header .main-img-user::after, .main-chat-body .main-img-user::after {
  inset-inline-end: 1px;
  inset-block-end: 3px;
}

.main-chat-contacts-wrapper {
  padding: 10px 20px;
  flex-shrink: 0;
  border-block-end: 1px solid $border;
  overflow: hidden;

  .main-content-label, .card-table-two .card-title {
    margin-block-end: 15px;
    line-height: 1;
    padding-inline-start: 20px;
  }
}
.card-table-two {
	padding: 20px;
}
.card-table-two .card-title {
    font-size: 13px;
}
@media (min-width: 992px) {
  .main-chat-contacts-wrapper {
    padding-block-start: 10px;
    padding-inline-end: 15px;
    padding-block-end: 10px;
    padding-inline-start: 0px;
  }
}

.card-table-two .main-chat-contacts-wrapper .card-title, .main-chat-contacts-wrapper .card-dashboard-eight .card-title, .card-dashboard-eight .main-chat-contacts-wrapper .card-title {
  margin-block-end: 15px;
  line-height: 1;
  padding-inline-start: 20px ;
}

.main-chat-contacts-wrapper {
  .lSSlideOuter, .lSSlideWrapper {
    overflow: visible;
  }
}

.main-chat-contacts {
  padding-inline-start: 20px;
  display: flex;

  .lslide {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none;
  }

  small {
    font-size: 11px;
    width: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-block-start: 3px;
    text-align: center;
  }
}

.main-chat-contacts-more {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $primary;
  font-size: 12px;
  font-weight: 500;
  color: $white;
}

@media (min-width: 992px) {
  .main-chat-list {
    max-height: 100%;
    position: relative;
  }
}

.main-chat-list {
  .media {
    padding: 12px 20px;
    border-inline-start: 0;
    border-inline-end: 0;
    border-block-end: 1px solid $border;
    position: relative;

    .main-img-user {
      flex-shrink: 0;
      inset-block-start: 3px;
    }

    &::after {
      content: '';
      position: absolute;
      inset-block-start: -1px;
      inset-block-end: -1px;
      inset-inline-start: -1px;
      width: 1px;
      background-color: $primary;
      display: none;
    }

    + .media::before {
      content: '';
      position: absolute;
      inset-block-start: -1px;
      inset-inline-start: 65px;
      inset-inline-end: 0;
    }

    &.new {
      background-color: $white;

      .main-img-user span {
        display: flex;
      }

      .media-contact-name span:first-child {
        font-weight: 500;
        color: $gray-900;
      }

      .media-body p {
        color: $default-color;
      }
    }

    &:hover, &:focus {
      cursor: pointer;
      background-color: $bg-active;
      border-block-start-color: $border;
      border-block-end-color: $border;
      z-index: 1;
    }

    &:hover:first-child, &:focus:first-child {
      border-block-start-color: transparent;
    }

    &.selected {
      background-color: $bg-active;
      border-block-start-color: $border;
      border-block-end-color: $border;
      border-inline-start: 1px solid $primary;
      z-index: 0;

      &:first-child {
        border-block-start-color: transparent;
      }

      &::after {
        display: block;
      }

      .media-contact-name span:first-child {
        color: $gray-900;
      }

      .media-body p {
        color: $default-color;
      }
    }
  }

  .main-img-user span {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -2px;
    width: 14px;
    height: 14px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 9px;
    font-weight: 500;
    color: $white;
    background-color: $danger;
    box-shadow: 0 0 0 2px $white;
  }

  .media-body {
    margin-inline-start: 15px;

    p {
      font-size: 12px;
      margin-block-end: 0;
      color: $gray-600;
      line-height: 1.35;
    }
  }

  .media-contact-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 2px;

    span {
      &:first-child {
        display: block;
        font-size: 13px;
        font-weight: 500;
        color: $gray-900;
      }

      &:last-child {
        display: block;
        font-size: 11px;
        color: $gray-500;
      }
    }
  }
}

@media (min-width: 992px) {
  .main-chat-list .media {
    padding: 20px 15px;
  }
}

.main-content-body-chat {
  flex-direction: column;
  // display: none;
}

@media (min-width: 992px) {
  .main-content-body-chat {
    display: flex;
  }
}

.main-chat-header {
  flex-shrink: 0;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-block-end: 1px solid $border;

  .nav {
    margin-inline-start: auto;
    align-items: center;
  }

  .nav-link {
    color: #7987a1;
    font-size: 15px;
    line-height: 1;
    display: none;
    border: solid #ededf5 1px;
    border-radius: 5px;
    padding: 9px 9px;
    background: #fff;

    &:first-child {
      display: block;
    }

    i {
      line-height: 0;
    }

    .typcn {
      line-height: .9;

      &::before {
        width: auto;
      }
    }

    &:hover, &:focus {
      color: $primary;
    }

    + .nav-link {
      margin-inline-start: 10px;
    }
  }
}

@media (min-width: 576px) {
  .main-chat-header .nav-link {
    display: block;

    &:first-child {
      display: none;
    }
  }
}

.main-chat-msg-name {
  margin-inline-start: 15px;

  h6 {
    margin-block-end: 2px;
    font-size: 15px;
    font-weight: 600;
    color: $gray-900;
  }

  small {
    font-size: 12px;
    color: $gray-600;
  }
}

.main-chat-body {
  position: relative;
  padding-block-end: 50px;

  .content-inner {
    padding: 20px;
  }

  .media {
    + .media {
      margin-block-start: 20px;
    }

    &.flex-row-reverse {
      .media-body {
        margin-inline-start: 0;
        margin-inline-end: 20px;
        align-items: flex-end;
      }

      .main-msg-wrapper {
        background-color: $primary;
        color: $white;
	    	border-radius: 5px;
      }
    }
  }

  .media-body {
    margin-inline-start: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > div:last-child {
      font-size: 11px;
      color: $gray-600;
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 992px) {
  .main-chat-body {
    padding-block-end: 0;
    max-height: auto;
    overflow: hidden;
  }
}

@media (min-width: 576px) {
  .main-chat-body .media.flex-row-reverse .media-body {
    margin-inline-start: 55px;
  }
}

@media (min-width: 576px) {
  .main-chat-body .media-body {
    margin-inline-end: 55px;
  }
}

.main-chat-time {
  display: block;
  position: relative;
  text-align: center;
  margin: 20px 0;

  &:first-of-type {
    margin-block-start: 0;
  }

  span {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.main-msg-wrapper {
  padding: 10px 15px;
  background-color: $bg-active;
  font-size: 13px;
  margin-block-end: 5px;
  border-radius: 5px;
  display: inline-block;
}

.main-chat-footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  border-block-start: 1px solid $border;
  background-color: $white;
  position: relative;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;

  .nav {
    align-items: center;
  }

  .nav-link {
    padding: 0;
    color: $gray-500;
    font-size: 16px;
    display: none;

    + .nav-link {
      margin-inline-start: 10px;
    }

    &:last-child {
      display: block;
      margin-inline-start: 0;
    }
  }

  .form-control {
    flex: 1;
    margin: 0 10px;
    padding-inline-start: 10px !important;
    padding-inline-end: 0;
    border-width: 0;
    border: 1px solid $border;

    &:hover, &:focus {
      box-shadow: none;
    }
  }
}

@media (min-width: 992px) {
  .main-chat-footer {
    position: relative;
    inset-block-end: auto;
    inset-inline-start: auto;
    inset-inline-end: auto;
  }
}

@media (min-width: 576px) {
  .main-chat-footer .nav-link {
    display: block;

    &:last-child {
      display: none;
    }
  }
}

@media (min-width: 576px) {
  .main-chat-footer .form-control {
    margin-inline-start: 20px;
  }
}

@media (min-width: 768px) {
  .main-chat-footer .form-control {
    margin-block-start: 0px;
    margin-inline-end: 20px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
  }
}

.main-msg-send {
   color: $white;
     font-size: 15px;
     border: solid $border 1px;
     border-radius: 5px;
     padding: 5px 10px;
     background: $primary;
    i {
      line-height: 1.5;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
  .app.sidebar-mini {
    .main-chat-footer {
      margin-inline-start: 0px;
    }

    &.sidenav-toggled .main-chat-footer {
      margin-inline-start: 0;
    }
  }
}

@media (max-width: 380px) and (min-width: 305px) {
  .main-nav-line-chat .nav-link + .nav-link {
   margin-block-start: 8px;
    margin-inline-start: 0px;
  }
}

/*--chat--*/

.chat {
  margin-block-end: auto;

  .card {
    height: 600px;
  }

  .card-header {
    padding: 1rem;
  }
}

.contacts_body {
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
}

.contacts_body {
  .contacts {
    list-style: none;
    padding: 0;

    li {
      width: 100% !important;
      padding: 15px;
      border-block-end: 1px solid #ebeaf1;
    }
  }

  .active {
    background-color: #f5f6fb;
  }
}

#action_menu_btn {
  position: absolute;
  inset-inline-end: 36px;
  inset-block-start: 21px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: $white;
  color: #646367;
  inset-block-start: 40px;
  inset-inline-end: 15px;
  display: none;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.action-header {
  position: relative;
  background: $primary;
    padding-block-start: 15px;
    padding-inline-end: 13px;
    padding-block-end: 15px;
    padding-inline-start: 17px;
}

.ah-actions {
  z-index: 3;
  float: right !important;
   inset-block-start: 3px;
  position: relative;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
  }

  &:not(.a-alt) > li > a > i {
    color: #a7a8c6;
  }

  > li > a {
    > i {
      font-size: 17px;
    }

    display: block;

    /* padding: 10px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;

  }
}

.dash-5 {
  text-align: center;

  h3 {
    font-size: 2rem;
    margin-block-end: 0.5rem;
  }
}

.well {
  color: #5e629c;
}

.icon.icon-shape i {
  height: 3rem;
  width: 3rem;
  background: $black;
  border-radius: 50%;
  line-height: 3rem;
  background: rgba(9, 22, 49, 0.2);
  color: $primary;
}

.user-img-circle {
  box-shadow: 0 0 0 rgba(81, 15, 167, 0.4);
  animation: pulse 2s infinite;
  height: 90px;
}

.chat {
  .action-header {
    position: relative;
    padding-block-start: 12px;
    padding-inline-end: 13px;
    padding-block-end: 12px;
    padding-inline-start: 13px;
    box-shadow: 0 1px 15px 1px rgba(58, 58, 62, 0.5);
  }

  .dropdown-menu.dropdown-menu-end.show {
    width: 100%;
    margin-block-end: 5px;
    position: absolute;
    transform: translate3d(-176px, 22px, 0px);
    inset-block-start: 10px !important;
    inset-inline-start: 0px;
    will-change: transform;
  }

  .msb-reply textarea {
    width: 100%;
    font-size: 13px;
    padding: 12px 47px;
    resize: none;
    height: 44px;
    border: 1px solid #ebeaf1;
    background: $bg-active;
    margin-inline-start: -42px;
  }

  .dropdown-menu li {
    padding: 7px;

    &:hover {
      background: $bg-active;
    }

    i {
      padding: 7px;
    }
  }
}

.action_menu ul li:hover {
  cursor: pointer;
  background-color: $black-2;
}

.chat {
  .actions {
    > li {
      display: inline-block;
    }

    &:not(.a-alt) > li > a > i {
      color: $white;
      line-height: unset;
    }
  }

  .justify-content-start, .justify-content-end {
    margin-block-end: 25px;
  }
}

.chatbox {
  .user_img {
    height: 50px;
    width: 50px;
  }

  .user_img_msg {
    height: 40px;
    width: 40px;
    border:0px solid #ebeaf1;
  }

  .img_cont {
    position: relative;
    height: 50px;
    width: 50px;
  }

  .img_cont_msg {
    height: 40px;
    width: 40px;
    display: contents;
  }
}

.chat-box-single-line {
  height: 12px;
  margin-block-start: 7px;
    margin-inline-end: 0px;
    margin-block-end: 30px;
    margin-inline-start: 0px;
  position: relative;
  text-align: center;
}

.chat abbr.timestamp {
  padding: 4px 14px;
  border-radius: 4px;
  color: $black;
}

.chatbox {
  .user_info {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: 15px;

    span {
      color: #464444;
    }
  }

  .action-header small {
    font-size: 10px;
  }
}

.chat {
  .video_cam {
    margin-inline-start: 50px;
    margin-block-start: 5px;

    span {
      color: white;
      font-size: 20px;
      cursor: pointer;
      margin-inline-end: 20px;
    }
  }

  .msg_cotainer {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: 10px;
    padding: 9px;
    position: relative;
	  border-radius:6px;
  }
  .msg_cotainer {
    background-color: $primary-05;
  }

  .msg_cotainer_send {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-end: 10px;
    background-color:#e4edf9;
    padding: 9px;
    position: relative;
	border-radius:6px;
	}

  .msg_time {
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: -18px;
    color: #3a374e;
    font-size: 10px;
  }

  .msg_time_send {
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: -18px;
    color: #3a374e;
    font-size: 10px;
  }

  .msg_head {
    position: relative;
    background: #60529f;
    box-shadow: 0 1px 15px 1px rgba(58, 58, 62, 0.4);
  }
}

@media (max-width: 449px) {
  .actions {
    float: left !important;
  }
}
.main-msg-wrapper.right {
	position: relative;
	background: $primary;
	border: 1px solid $primary;
}
.main-msg-wrapper.inset-inline-end:after, .main-msg-wrapper.inset-inline-end:before {
	inset-inline-start: 100%;
	inset-block-start: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.main-msg-wrapper.inset-inline-end:nth-child(1):before {
	border-color: transparent;
    border-inline-start-color: $primary;
    border-width: 0px;
    margin-block-start: -15px;
}
.main-msg-wrapper.inset-inline-end:nth-child(1):after {
	border-color: transparent;
    border-inline-start-color: $primary;
    border-width: 8px;
    margin-block-start: -10px;
}

.main-msg-wrapper.left {
	position: relative;
}
.main-msg-wrapper.inset-inline-start:after, .main-msg-wrapper.inset-inline-start:before {
	inset-inline-end: 100%;
	inset-block-start: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.main-msg-wrapper.inset-inline-start:nth-child(1):before {
	border-color: transparent;
    border-inline-end-color: $bg-active;
    border-width: 0px;
    margin-block-start: -15px;
}
.main-msg-wrapper.inset-inline-start:nth-child(1):after {
	border-color: transparent;
    border-inline-end-color: $primary-02;
   border-width: 8px;
    margin-block-start: -10px;
}
@media (max-width: 576px){
	.main-nav-line-chat .nav-link {
		padding: 10px 10px;
	}
}
.modal-dialog.modal-dialog-right.chatbox .card-footer{
  padding:1.25rem;
}
.main-chat-footer .nav-link{
    color: #7987a1;
    font-size: 15px;
    border: solid #ededf5 1px;
    border-radius: 5px;
    line-height: 15px;
    padding: 8px 10px;
    background: #fff;
}
 .main-chat-footer .main-msg-send {
    color: $white;
    font-size: 15px;
    border: solid $border 1px;
    border-radius: 5px;
    padding: 5px 10px;
    background: $primary;
  i {
    line-height: 1.5;
  }
 }

//  @media (min-width: 992px) {
// .main-chat-body {
//     height: 550px !important;
// }
// }

// @media (min-width: 992px) {
// .main-chat-list {
//     height: 550px !important;
// }}


.chat-profile {
  padding: 8px;
  line-height: 1;
  color: $default-color;
  i{
    font-size: 14px;
  }
}
.chat-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shared-files {
  padding: 12px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid $border;
}
@media (min-width: 992px){
  .main-content-app {
    height: calc(100vh - 250px);
    display: flex;
  }
  .main-chat-list {
    height:calc(100% - 68px);
      position: relative;
  }
  .main-chat-body {
      // height: 500px;
     height: calc(100% - 105px);
  }
  .chat-main {
    // height:calc(100% - 105px);
    overflow: hidden;
  }
}
// .main-content-app {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   display: flex;
// }

// .main-chat-list {
//   height: calc(100% - 100px);
// }
// .main-chat-body, .main-chat-footer {
//   transform: translateZ(0);
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }

// .main-content-app {
//   height: calc(100vh - 250px);
//   display: flex;
// }
// .main-chat-list {
//     height:calc(100% - 134px);
//     position: relative;
// }
// .main-chat-body {
//     padding-block-end: 0;
//     height: calc(100% - 105px);
//     overflow: hidden;
// }
// .main-content-body-chat {
//   display: flex;
// }
// .chat-main {
//   height:calc(100% - 105px);
// }