@media (min-width: 992px) {
  .horizontal {
    .horizontal-main .sub-slide2 .sub-slide-menu1 {
      inset-inline-start: 180px;
      inset-block-start: 8px;
      width: 190px;
      position: absolute;
      background-color: #fff;
      z-index: 9999;
      border-radius: 5px;
      padding: 5px;
      min-width: fit-content;
      box-shadow: 0px 16px 18px rgba(135, 135, 182, 0.1) !important;
      border: 1px solid #e7eaf3;
    }

    .app-sidebar {
      border-block-end: 0px !important;
    }

    .main-footer {
  
    padding-block-start: 0.9rem !important;
    padding-inline-end: 1rem !important;
    padding-block-end: 0.9rem !important;
    padding-inline-start: 1rem !important;
    }

    &.dark-theme {

      .horizontal-main .slide .slide-menu,
      .horizontal-main .slide .sub-slide-menu,
      .horizontal-main .sub-slide2 .sub-slide-menu1 {
        background-color: $dark-theme  !important;
        border: 1px solid #404353;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
      }
    }

    .horizontal-main {
      z-index: 999 !important;
    }

    &.dark-theme {
      .logo-1 {
        display: none !important;
      }

      .dark-logo-1 {
        display: block !important;
      }
    }

    .hor-header .container,
    .horizontal-main .container,
    .main-content.horizontal-content .container {
      max-width: 85% !important;
      padding: 0;
    }

    .app-sidebar .side-item.side-item-category {
      display: none;
    }

    .side-menu {
      display: flex;
      overflow: hidden;
    }

    .main-sidemenu {
      margin-block-start: 0;
    }

    .main-sidebar-header {
      display: none;
    }

    .horizontal-main {
      width: 100%;
      position: relative;
      inset-block-end: initial;

      &.ps {
        overflow: visible !important;
      }

      .slide {

        .slide-menu,
        .sub-slide-menu {
          width: 190px;
          position: absolute;
          background-color: $white;
          z-index: 9999;
          border-radius: 5px;
          padding: 5px;
          min-width: fit-content;
          box-shadow: 0px 16px 18px rgba(135, 135, 182, 0.1) !important;
          border: 1px solid #e7eaf3;

          .slide-item:before {
            inset-inline-start: 20px;
            inset-block-start: 11px;
            margin-inline-end: 8px;
          }
        }
      }
    }

    .slide-item {
      padding: 8px 35px;
    }

    .slide.is-expanded .sub-slide-item2:before {
      inset-inline-start: 20px !important;
    }

    .sub-slide-menu .sub-slide-item2 {

      padding-block-start: 8px !important;
      padding-inline-end: 20px !important;
      padding-block-end: 8px !important;
      padding-block-end: 35px !important;
    }

    .sub-slide .sub-angle {
      inset-inline-end: -20px;
      inset-inline-start: auto;
      margin-inline-end: 0 !important;
      position: relative;
    }

    .sub-slide .sub-slide-menu {
      position: absolute;
      background-color: $white;
      z-index: 9999;
      box-shadow: 5px 5px 5px #b9b9b9;
      border-radius: 5px;
      padding: 0px;
      min-width: fit-content;
      border: 1px solid #f0f0f8;
      inset-inline-start: 180px;
      inset-block-start: 13px;
    }

    .side-menu>li>a {
      display: flex;
      margin: 0px -4px !important;
      text-decoration: none;
      position: relative;
      color: #7b8191;

    padding-block-start: 17px !important;
    padding-inline-end: 13px !important;
    padding-block-end: 17px !important;
    padding-inline-start: 13px !important;

      font-weight: 400;
    }

    .main-sidemenu i.angle {
      position: relative;
      inset-block-start: 0px;
      inset-inline-end: 0;
      transform: rotate(90deg);
      font-size: 15px;
    }

    .main-sidemenu .slide.is-expanded i.angle {
      transform: rotate(-90deg);
      position: relative;
      inset-block-start: 0px;
      inset-inline-end: 0;
      font-size: 15px;
    }

    .breadcrumb-header {
      margin-block-start: 20px;
    }

    .side-menu .slide .side-menu__item.active {
      border-block-end: 3px solid $primary;
      border-inline-end: none;
    }

    .slide {
      margin: 0 3px;
    }

    .logo-horizontal {
      display: block;
    }

    .app-sidebar__toggle {
      display: none;
    }

    .mobile-logo.dark-logo-1 {
      display: none;
    }

    .main-content {
      margin-inline-start: 0px !important;
    }

    .main-sidemenu .slide-right {
      inset-inline-end: 0;
    }

    .main-sidemenu .slide-left,
    .main-sidemenu .slide-right {
      position: absolute;
      inset-block-start: 0px;
      padding: 17px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      cursor: pointer;
    }

    .main-sidemenu .slide-left {
      inset-inline-start: 0;
    }

    .horizontal-main {
      position: relative;
      margin: 0 auto;
    }

    .main-sidemenu {
      overflow: hidden;
    }

    .sticky-pin {
      position: fixed;
      inset-block-start: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .horizontal-hover.horizontal {
    .slide {
      &:hover {
        ul.slide-menu {
          display: block !important;
        }
      }
    }

    .sub-slide {
      &:hover {
        .sub-slide-menu {
          display: block !important;
        }
      }
    }
  }

}


.logo-horizontal {
  display: none;
}

.horizontal {
  @media (max-width: 991.98px) {
    .app-sidebar.horizontal-main {
      inset-inline-start: -300px;
    }

    .main-header.hor-header {
      box-shadow: 0px 7px 26px rgba(154, 154, 204, 0.1);
    }

    .main-sidemenu {
      padding: 0;
    }

    .horizontalMenucontainer .main-header.hor-header {
      position: fixed;
    }

    .slide-left,
    .slide-right {
      display: none !important;
    }
  }

  .main-sidemenu.container {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
  }
}

@media (min-width: 992px) {
  .horizontal-hover.horizontal .sub-slide2:hover .sub-slide-menu1 {
    display: block !important;
  }

  .horizontal-hover.horizontal .app-sidebar .slide-menu .sub-slide-menu1 a:before {
    inset-inline-start: 20px !important;
    inset-block-start: 11px;
  }

  .horizontal-hover.horizontal .sub-slide-menu .sub-side-menu__item:before {
    content: "\f22d";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    inset-inline-start: 20px !important;
    inset-block-start: 10px !important;
    font-size: 9px;
    color: #7b8191;
    font-weight: 900;
  }
}

.horizontal-content {
  min-height: calc(100vh - 57px) !important;
}

.horizontal {

  .main-contact-item.selected,
  .list-group-item.active,
  .select2-dropdown,
  .apexcharts-toolbar {
    z-index: 0 !important;
  }
}

@media (min-width: 992px) {
  .horizontal {
    .horizontal-main{
      &.ps .ps__rail-y .ps__thumb-y{
        display: none;
      }
    }
  }
}