.main-header-profile .main-img-user {
  &::after {
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 6px;
    width: 6px;
    height: 6px;
    background-color: #17b86a;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.95);
    border-radius: 100%;
    inset-block-end: 3px;
    display: block !important;
    inset-block-start: 35px;
	
  }

  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  text-align: center;
}

.main-profile-menu .profile-user img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-inline-start: 0;
  box-shadow: 0px 4px 15px 0px #dbe4f9;
}

.main-profile-overview .main-img-user::after {
  display: none !important;
}

/* ###### 7.8 Profile  ###### */

.main-content-profile {
  flex: 1;
}

@media (max-width: 991.98px) {
  .main-content-profile {
    .container, .container-fluid {
      display: block;
    }
  }
}

.main-content-left-profile {
  padding-inline-start: 0;
  padding-inline-end: 0;
  display: block;
  border-block-end: 1px solid $border;
  padding-block-end: 25px;
  width: auto;
}

@media (min-width: 992px) {
  .main-content-left-profile {
    width: 270px;
    padding-inline-end: 20px;
    padding-block-end: 0;
    border-inline-end: 1px solid $border;
    border-block-end: 0;
  }
}

@media (min-width: 1200px) {
  .main-content-left-profile {
    padding-inline-end: 25px;
  }
}

.main-profile-overview {
  .main-img-user {
    width: 120px;
    height: 120px;
    margin-block-end: 20px;
  }

  .btn-icon-list {
    .btn, .sp-container button {
      border-radius: 100%;
    }
  }
}

.sp-container .main-profile-overview .btn-icon-list button {
  border-radius: 100%;
}

.main-profile-name {
  color: $gray-900;
  font-weight: 700;
  font-size: 20px;
  margin-block-end: 2px;
}

.main-profile-name-text {
  color: $gray-600;
  font-size: 13px;
  margin-block-end: 0;
}

.main-profile-bio {
  font-size: 13px;
  margin-block-end: 20px;
}

.main-profile-social-list {
  .media {
    align-items: center;

    + .media {
      margin-block-start: 20px;
    }
  }

  .media-icon {
    font-size: 34px;
    width: 30px;
    line-height: 0;
  }

  .media-body {
    margin-inline-start: 20px;

    span {
      display: block;
      font-size: 12px;
    }

    a {
      font-size: 13px;
    }
  }
}

.main-content-body-profile {
  .nav {
    flex-direction: column;
    padding-block-start: 20px;
    padding-inline-end: 20px;
    padding-block-end: 20px;
    padding-inline-start: 15px;
    border-block-end: 1px solid $border;
    margin-block-end:1.3rem;
  }

  .main-nav-line .nav-link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: $gray-800;

    &.active {
      font-weight: 700;
      color: $primary;

      &::before {
        background-color: $primary;
      }
    }
  }
}

@media (min-width: 576px) {
  .main-content-body-profile .nav {
    flex-direction: row;
    align-items: center;
  }
  
   .main-content-body-profile .nav {
    padding-block-start: 18px;
    padding-inline-end: 14px;
    padding-block-end: 17px;
    padding-inline-start: 30px;
  }
}

@media (min-width: 992px) {
  .main-content-body-profile .nav {
    padding-inline-start: 20px;
  }
}

@media (min-width: 1200px) {
  .main-content-body-profile .nav {
    padding-inline-start: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .main-content-body-profile .main-nav-line .nav-link.active::before {
    width: auto;
    inset-block-start: auto;
    inset-inline-start: 0;
    inset-inline-end: 0;
    height: 2px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .main-content-body-profile .main-nav-line .nav-link + .nav-link {
    margin-block-start: 0;
    margin-inline-start: 0;
  }
}

.main-profile-body {
  
    padding-block-start: 15px;
    padding-inline-end: 0px;
    padding-block-end: 0px;
    padding-inline-start: 0px;
}

@media (min-width: 576px) {
  .main-profile-body {
    padding-block-start: 20px;
  }
}

@media (min-width: 992px) {
  .main-profile-body {
    padding-block-start: 25px;
    padding-inline-end: 0px;
    padding-block-end: 0px;
    padding-inline-start: 20px;
  }
}

@media (min-width: 1200px) {
  .main-profile-body {
    padding-inline-start: 25px;
  }
}

.main-profile-view-chart {
  position: relative;
  width: calc(100% - 10px);
  height: 200px;
}

@media (min-width: 375px) {
  .main-profile-view-chart {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .main-profile-view-chart {
    height: 250px;
  }
}

.main-profile-view-info {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;

  h6 {
    font-size: 32px;
    font-weight: 500;
    color: $gray-900;
    margin-block-end: 0;
  }

  span {
    font-size: 12px;
    color: $pink;
    margin-inline-start: 5px;
  }

  p {
    font-size: 13px;
    margin-block-end: 0;
  }
}

.main-traffic-detail-item {
  > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-block-end: 7px;

    > span {
      &:first-child {
        color: $gray-600;
      }

      &:last-child {
        font-size: 11px;
        font-weight: 700;
        color: $gray-900;

        span {
          color: $gray-600;
          font-weight: 400;
        }
      }
    }
  }

  + .main-traffic-detail-item {
    margin-block-start: 25px;
  }

  .progress {
    height: 8px;
  }
}

.main-profile-work-list {
  .media + .media {
    margin-block-start: 25px;
  }

  .media-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: $white;
    font-size: 21px;
    position: relative;
    inset-block-start: 2px;
    border-radius: 100%;
  }

  .media-body {
    margin-inline-start: 20px;

    h6 {
      color: $gray-900;
      font-weight: 500;
      margin-block-end: 2px;
    }

    span {
      display: block;
      margin-block-end: 5px;
    }

    p {
      margin-block-end: 0;
      font-size: 12px;
      color: $gray-600;
    }
  }
}

.main-profile-contact-list {
  .media {
    align-items: center;

    + .media {
      margin-block-start: 25px;
    }
  }

  .media-icon {
    line-height: 0;
    font-size: 36px;
    width: 35px;
    text-align: center;
  }

  .media-body {
    margin-inline-start: 25px;

    span {
      font-size: 12px;
      color: $gray-600;
      display: block;
      line-height: 1.3;
    }

    div {
      font-weight: 500;
      color: $gray-900;
    }
  }
}

@media (max-width: 1134px) {
  .main-profile-body .media.profile-footer {
    display: block !important;

    .media-body {
   
    padding-block-start: 3px;
    padding-inline-end: 0px;
    padding-block-end: 15px;
    padding-inline-start: 0px;
    }
  }
}

@media (max-width: 578px) {
  .main-profile-menu .profile-user img {
    margin-inline-start: 0;
  }
}

.main-profile-work-list .media-logo, .main-profile-contact-list .media-icon, .main-profile-social-list .media-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: $white;
  font-size: 21px;
  position: relative;
  inset-block-start: 2px;
  border-radius: 100%;
}

.profile-user .profile-edit {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  inset-inline-end: 0;
  background: #d5d4e0;
  margin: 0 auto;
  text-align: center;
}

.main-profile-body .card-header {
  padding-block-start: 0;
  padding-inline-start: 0;
}

.drop-down-profile {
  position: relative;
}

.profile-footer a {
  width: 34px;
  height: 34px;
  background: #efeff5;
  color: $black;
  margin: 1px auto;
  text-align: center;
  line-height: 34px;
  display: inline-block;
  border-radius: 50%;
  font-size: 12px;
}

.drop-down-profile span.assigned-task {
  position: absolute;
  font-size: 12px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: $white;
  inset-block-start: 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  inset-inline-end: 0;
}

@media (max-width: 575px) {
  .main-content-body-profile .main-nav-line .nav-link.active::before {
    inset-inline-start: 0px;
  }
}

@media (max-width: 767.98px) {
  .main-profile-menu .profile-user img {
    margin-inline-start: 0 !important;
  }
}

.profile-name {
  margin-block-start: 8px;
}

.profile.navtab-custom {
    padding-block-start: 11px;
    padding-inline-end: 0px;
    padding-block-end: 10px;
    padding-inline-start: 0px;

  li a {
    padding: 13px;
    color: $black;
    background: transparent;
    margin-inline-end: 7px;
    border-start-start-radius: 7px;
    border-start-end-radius: 7px;
    border: 1px solid #e3e6f0;
    border-block-end: 0;
    font-size: 13px;
  }

  .active a, a.active {
    background: $gray-100;
    border-block-end: 0;
    color: $black;
  }
}

.ga-border {
  height: 3px;
  width: 40px;
  background-color: $primary;
  margin: 10px auto 5px auto;
}
.profile-cover__action {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-block-start: 216px;
    padding-inline-end: 30px;
    padding-block-end: 10px;
    padding-inline-start: 185px;
    border-radius: 5px 5px 0 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    background: url(../img/media/bg-img.jpg) no-repeat;
    background-size: cover;
}
.profile-cover__img {
    position: absolute;
    inset-block-start: 230px !important;
    inset-inline-start: 50px;
    text-align: center;
    z-index: 1;
}
.profile-cover__img > img {
    max-width: 120px;
    border-radius: 50%;
}
.profile-cover__img > img + .h3 {
    margin-block-start: 6px;
}
.profile-cover__img > .h3 {
    color: #393939;
    font-size: 20px;
    line-height: 30px;
}
@media (min-width: 481px){
.profile-cover__action > .btn {
    min-width: 125px;
}
.profile-cover__action > .btn {
    margin-block-end: 10px !important;
}
}
@media (min-width: 601px){
.profile-cover__info .nav {
    padding-block-start: 15px;
    padding-inline-end: 0px;
    padding-block-end: 10px;
    padding-inline-start: 170px;
    color: #999;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
}
}
.profile-cover__info .nav li {
    font-size: 14px;
    color: #464461;
    margin-block-end: 13px;
}
.profile-cover__info , .profile-tab .main-nav-line .nav-link.active {
  color: $primary;
    padding: 15px;
}
.profile-cover__info .nav span {
    display: block;
    margin-block-end: 10px;
    font-size: 25px;
}
.profile-cover__info .nav li:not(:first-child) {
    margin-inline-start: 30px;
    padding-inline-start: 30px;
    border-inline-start: 1px solid rgba(238, 238, 238, 0.2);
}
.profile-tab .main-nav-line .nav-link {
    font-weight: 500;
}
.main-nav-line .nav-link {
    color: #3c4858;
    position: relative;
    border: 0px solid #ededf5 !important;
    padding: 7px;
}
.main-content-body-profile .main-nav-line .nav-link {
    color: #3c4858;
    position: relative;
    padding: 8px 25px;
}
.profile-tab.tab-menu-heading .main-nav-line .nav-link{
    position: relative;
    padding: 4px 20px;


}
.profile-tab .main-nav-line .nav-link {
    font-weight: 500;
}
@media (min-width: 769px){
.main-nav-line .nav-link + .nav-link {
    margin-block-start: 0;
    margin-inline-start: 5px;
    padding: 8px 25px;
}
}

.card-header:first-child {
    // border-radius: 11px 11px 0 0;
    border-start-start-radius: 11px;
    border-start-end-radius: 11px; 
    border-end-end-radius: 0px; 
    border-end-start-radius: 0px;
    
}
.user-lock img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
.main-img-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
@media (max-width: 576px){
  .main-nav-line .nav-link + .nav-link {
      margin-block-start: 10px !important;
      margin-inline-start: 0 !important;
  }
  .profile-cover__img {
    inset-block-start: 260px !important;
    inset-inline-start: 0;
    inset-inline-end: 0;
  }
}

.panel-tabs.main-nav-line .nav-link {
    border-radius: 0px;
}
.profile-image img{
  position: relative;
  width: 180px;
  height: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.profile-online {
  // inset-block-start: 6px;
  inset-inline-end: -10px;
  position: absolute;
  border: 3px solid #fff;
  padding: 6px;
  margin-block-start: 6px;
}
.profile-tab.tab-menu-heading {
  font-size: 14px !important;
}
.bg-white-transparent {
  background-color: rgba(255,255,255,0.4);
}
a.option-dots {
  display: inline-block;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 100%;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid $border;
  margin-inline-end: 5px;
  padding: 0;
}
