/* ###### 6.8 Sidebar  ###### */

.nav-link.with-sub {
  .angle {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    position: absolute;
    inset-block-start: 17px;
    inset-inline-end: 23px;
    font-size: 12px;
  }

  .side-badge {
    inset-inline-end: 23px;
    position: absolute;
  }
}

.sidebar-right .main-nav-line .nav-link {
    padding-block-start: 10px;
    padding-inline-end: 18px;
    padding-block-end: 10px;
    padding-inline-start: 21px;
  background: $gray-200;

  &.active::before {
    inset-block-end: 0;
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidenav-toggled .main-sidebar-header .logo-icon.dark-theme {
    display: none;
  }
}

.sidebar {
  .tab-menu-heading {
    position: fixed;
    inset-block-start: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    margin-block-end: 27px;
    background: $gray-100;
  }

  .tabs-menu-body {
    margin-block-start: 56px;
  }

  .tabs-menu ul li {
    .active {
      background: $primary;
      color: $white;
      border: 1px solid $primary;
    }

    a {
      padding: 8px 8px;
      font-size: 12px;
      display: inline-block;
      margin-block-end: 10px;
      border-radius: 3px;
      border: 1px solid #ebeaf1;
      font-weight: 500;
      background: transparent;
      color: $default-color;
      margin: 0 2px;
    }

    &:last-child a {
      margin-block-end: 0px;
    }
  }

  .nav.panel-tabs {
    padding: 15px;
  }

  .avatar-md {
    width: 40px !important;
    height: 40px !important;
    font-size: 15px !important;
  }

  .avatar-lg {
    width: 50px !important;
    height: 50px !important;
  }

  position: fixed;
  display: block;
  inset-block-start: 0px;
  width: 320px;
  inset-block-end: 0;
  z-index: 9999;
  height: 100%;
  background: $white;
  box-shadow: 0px 18px 36px 10px rgba(154, 154, 204, 0.1);
  border-inline-start: 1px solid $border;

  .card {
    box-shadow: none;
    border: 0 !important;
  }

  .list-group-item {
    margin-block-end: -2px;
  }
}

@media (max-width: 480px) {
  .sidebar .tab-menu-heading .tabs-menu ul li {
    width: auto;
    margin: 0;
  }
}
.sidebar-right .list a {
  color: $default-color;
}

.tabs-menu ul li a {
    padding-block-start: 10px;
    padding-inline-end: 12px;
    padding-block-end: 11px;
    padding-inline-start: 13px;
  display: block;
}
.sidebar .nav.panel-tabs .side-menu__icon {
  margin-inline-end: 2px;
  width: 16px;
  height: 16px;
}
.sidebar {
  .tab-pane b {
    font-weight: 500;
  }
}
